html{
    --colorRojo:rgba(243, 75, 45, 0.863);
    --colorNegro:rgb(41, 38, 38);
    --backgroundColor: rgba(255,255,255,0.1);

    --hiperTitulo: 3.5em;
    --titulo: 3em;
    --subTitulo: 2.2em;
    --infraTitulo: 1.5em
    --texto: 1em;
    --enlaces: 0.8em;

    --sombra: 0px 0px 47px 0px rgba(0,0,0,0.95);
}

body{
    background-color: var(--colorNegro);
    color: var(--colorRojo);
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

hr{
    border-color: var(--colorRojo);
}

/*Bloque Superior de Informacion Personal*/

.descripcionPersonal{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.descripcionPersonalImagen{
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 20px;
}

.descripcionPersonalImagen > img{
    width: 150px;
}

.descripcionPersonalTexto{
    display: inline-block
}

.descripcionPersonalTexto h1{
    font-size: var(--hiperTitulo);
    font-weight: bold;
    margin-bottom: 5px;
}



.descripcionPersonalTexto h2{
    font-size: var(--subTitulo);

}

.contenedorEnlaces{
    margin-top: 10px;

    padding: 5px;
    border-radius: 5px;

    background-color: var(--colorRojo);
    color: var(--colorNegro);
    display: inline-block;
    transition: 1s;
    
}

.contenedorEnlaces:hover {
    background-color: var(--backgroundColor);
    transition: 0.5s;
    box-shadow: var(--sombra);
}

.contenedorEnlaces div{
    display: flex;
    align-content: center;
}

.logoEnlaces{
    width: 20px;
    display: inline-block;
}


.textoEnlaces{
    margin-left: 5px;
    font-size: var(--enlaces);
    display: inline-block;
    font-weight: bold;
}

/*Bloque Sobre Mi*/

.aboutMe{
    margin: 50px 0;
}

.aboutMe h1{
    font-size: var(--titulo);
    font-weight: bold;
    margin: 10px 0;
}


/*----Terminacion Primer Bloque de la Pagina----*/

/*Bloque de Tecnologias*/


.tecnologias{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px; 
    
}

.tecnologias h1{
    font-weight: bold;
    font-size: var(--titulo);
}

.contenedorIconosTecnologias{
    margin-top: 10px;
    margin-bottom: 50px;
}

.iconoTecnologia{
    margin-top: 10px;

    padding: 5px;
    border-radius: 5px;

    background-color: var(--colorRojo);
    color: var(--colorNegro);
    display: inline-block;
    transition: 1s;

}
.iconoTecnologia:hover{
    background-color: var(--backgroundColor);
    transition: 0.5s;
    box-shadow: var(--sombra);
}
.iconoTecnologia div{
    display: flex;

    align-content: center;
}
.iconoTecnologia p{
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    font-size: var(--enlaces);
}
.logoTecnologia{
    width: 40px;
    display: inline-block;

}


/*----Terminacion Segundo Bloque de la Pagina----*/

/*Bloque de Proyectos*/

.proyectos{ 

    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px; 

}


.proyectos h1{
    font-weight: bold;
    font-size: var(--titulo);
}

.proyectos h2{
    font-size: var(--subTitulo);
}

.contenidoProyecto1{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.contenidoProyecto1 h1{
    font-size: var(--texto);
}

.descripcionProyecto1{  /*Bloque Izquierdo Info*/
    flex: 1;
    padding-right: 10px;
    
}

.textoDescripcionProyecto1 h2{
    font-size: var(--subTitulo);
}

.textoDescripcionProyecto1 p{
    margin: 10px 0;
}

.iconoEnlaceProyecto{
    margin-top: 10px;

    padding: 5px;
    border-radius: 5px;

    background-color: var(--colorRojo);
    color: var(--colorNegro);
    display: inline-block;
    transition: 1s;
    
}
.iconoEnlaceProyecto:hover{
    background-color: var(--backgroundColor);
    transition: 0.5s;
    box-shadow: var(--sombra);
}

.iconoEnlaceProyecto div{
    display: flex;
    align-content: center;
}

.logoEnlace{
    width: 40px;
    display: inline-block;
}

.iconoEnlaceProyecto p{
    display: inline-block;
    margin: 10px;
    font-size: var(--enlaces);
    font-weight: bold;
}

.imagenProyecto1{  /*Bloque Derecho Imagen*/
    text-align: right;
    flex: 1;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: var(--sombra);
    
}

.imagenProyecto1 img{
    width: 100%;
    border-radius: 5px;
    
    transition: 1s;
    
}
.imagenProyecto1 img:hover{
    transform: scale(1.2);
    opacity: .5;
    cursor: pointer;
    transition: 1s;
}
/*----Terminacion Tercer Bloque de la Pagina----*/

.formacion{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px; 
}

.formacion h1{
    font-size: var(--titulo);
    font-weight: bold;
}

.formacion1 h2{
    font-size: var(--subTitulo);
}
.formacion1 h3{
    font-size: var(--texto);
    margin: 5px 0;
}
.formacion1 h4{
    font-size: var(--texto);
}
.formacion1{
    margin: 25px 0;
}


.progress1 {
    background: var(--backgroundColor);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 15px;
    width: 500px;
    margin: 10px 0;
    transition: 1s;
}

.progress1:hover{
    box-shadow: var(--sombra);
    transition: 0.5s;
}
  
.progress-value1 {
    animation: load1 3s normal forwards;
    box-shadow: 0 10px 40px -10px var(--colorRojo);
    border-radius: 100px;
    background: var(--colorRojo);
    height: 10px;
    width: 0;
}
  
@keyframes load1 {
    0% { width: 0; }
    100% { width: 95%; }
}

.progress2 {
    background: var(--backgroundColor);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 15px;
    width: 500px;
    margin: 10px 0;
    transition: 1s;
}

.progress2:hover{
    box-shadow: var(--sombra);
    transition: 0.5s;
}
  
.progress-value2 {
    animation: load2 3s normal forwards;
    box-shadow: 0 10px 40px -10px var(--colorRojo);
    border-radius: 100px;
    background: var(--colorRojo);
    height: 10px;
    width: 0;
}
  
@keyframes load2 {
    0% { width: 0; }
    100% { width: 18%; }
}

.progress3 {
    background: var(--backgroundColor);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 15px;
    width: 500px;
    margin: 10px 0;
    transition: 1s;
}

.progress3:hover{
    box-shadow: var(--sombra);
    transition: 0.5s;
}
  
.progress-value3 {
    animation: load3 3s normal forwards;
    box-shadow: 0 10px 40px -10px var(--colorRojo);
    border-radius: 100px;
    background: var(--colorRojo);
    height: 10px;
    width: 0;
}
  
@keyframes load3 {
    0% { width: 0; }
    100% { width: 30%; }
}




footer{
    text-align: center;
    margin: 40px;
}



/*Breakponits*/

@media only screen and (max-width : 1000px) {
  
  .descripcionPersonal{
    width: 750px;
  }

  .glitch{
    width: 650px;
  }

  .tecnologias{
    width: 750px;
  }

  .proyectos{
    width: 750px;
  }

  .formacion{
    width: 750px;
  }
}

@media only screen and (max-width : 850px) {
  
  .descripcionPersonal{
    width: 650px;
  }

  .glitch{
    width: 550px;
  }

  .tecnologias{
    width: 650px;
  }

  .proyectos{
    width: 650px;
  }

  .formacion{
    width: 650px;
  }

}

@media only screen and (max-width : 700px) {
  
  .descripcionPersonal{
    width: 550px;
  }

  .glitch{
    width: 450px;
  }

  .tecnologias{
    width: 550px;
  }

  .proyectos{
    width: 550px;
  }

  .formacion{
    width: 550px;
  }

}

@media only screen and (max-width : 600px) {
  
  .descripcionPersonal{
    width: 450px;
  }

  .glitch{
    width: 350px;
  }

  .tecnologias{
    width: 450px;
  }

  .proyectos{
    width: 450px;
  }

  .formacion{
    width: 450px;
  }

  .progress1, .progress2, .progress3{
    width: 450px;
  }

}

@media only screen and (max-width : 500px) {
  
  .descripcionPersonal{
    width: 400px;
  }

  .glitch{
    width: 300px;
  }

  .tecnologias{
    width: 400px;
  }

  .proyectos{
    width: 400px;
  }

  .formacion{
    width: 400px;
  }

  .progress1, .progress2, .progress3{
    width: 400px;
  }
}

@media only screen and (max-width : 400px) {
  
  .descripcionPersonal{
    width: 350px;

  }

  .glitch{
    width: 250px;
  }

  .tecnologias{
    width: 350px;
  }

  .proyectos{
    width: 350px;
  }

  .formacion{
    width: 350px;
  }

  .progress1, .progress2, .progress3{
    width: 350px;
  }

}

@media only screen and (max-width : 300px) {
  
  .descripcionPersonal{
    width: 250px;
  }

  .glitch{
    width: 200px;
  }

  .tecnologias{
    width: 250px;
  }

  .proyectos{
    width: 250px;
  }

  .formacion{
    width: 250px;
  }
  
  .progress1, .progress2, .progress3{
    width: 250px;
  }
}

@media only screen and (max-width : 200px) {
  
  .descripcionPersonal{
    width: 175px;
  }

  .glitch{
    width: 175px;
  }

  .tecnologias{
    width: 175px;
  }

  .proyectos{
    width: 175px;
  }

  .formacion{
    width: 175px;
  }

  .progress1, .progress2, .progress3{
    width: 175px;
  }

}
